<nav class="navbar navbar-expand{-sm|-md|-lg|-xl}-lg navbar-light bg-light">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" th:href="@{/new}">Nuevo Empleado</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" th:href="@{/list}">Lista de Empleados</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled"></a>
        </li>
    </ul>
</nav>
